In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1864,tt0203019,32000000,48814909,Men of Honor,Robert De Niro|Cuba Gooding Jr.|Charlize Thero...,"George Tillman, Jr.",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,Drama,Fox 2000 Pictures,9/13/2000,7.0,2000
1770,tt0815244,16500000,13620075,Sydney White,Amanda Bynes|Sara Paxton|Matt Long|Jeremy Howa...,Joe Nussbaum,Freshman year is no fairytale,A modern retelling of Snow White set against s...,108,Comedy,Morgan Creek Productions|Clifford Werber Produ...,9/21/2007,5.9,2007
228,tt1216491,5000000,2450846,Kill the Messenger,Jeremy Renner|Mary Elizabeth Winstead|Michael ...,Michael Cuesta,Can you keep a National Secret?,A reporter becomes the target of a vicious sme...,112,Thriller|Crime|Drama|Mystery,The Combine|Bluegrass Films,10/9/2014,6.5,2014
753,tt1464540,50000000,144492830,I Am Number Four,Alex Pettyfer|Timothy Olyphant|Teresa Palmer|D...,D.J. Caruso,Three like him have already been killedâ€¦he i...,A teenage fugitive with an incredible secret r...,109,Action|Thriller|Science Fiction|Adventure,DreamWorks SKG|Reliance BIG Entertainment|Bay ...,2/18/2011,6.0,2011
854,tt1007029,13000000,114956699,The Iron Lady,Meryl Streep|Anthony Stewart Head|Harry Lloyd|...,Phyllida Lloyd,Never compromise,"A look at the life of Margaret Thatcher, the f...",105,History|Drama,UK Film Council|Canal+|DJ Films|CinÃ©CinÃ©ma|P...,12/30/2011,6.2,2011

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [6]:
data.describe(include = ['object'])

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date
count,1889,1889,1889,1889,1889,1889,1889,1889,1889
unique,1889,1887,1878,957,1880,1889,652,1624,1435
top,tt0313443,The Gift,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Steven Soderbergh,One ordinary couple. One little white lie.,"A newly married couple who, in the process of ...",Comedy,New Line Cinema,12/25/2014
freq,1,2,3,13,2,1,141,21,7

# Предобработка

In [7]:
answers = { } # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [8]:
# Создаём новый столбец для определения прибыли или убытка.
data['profit'] = data.revenue - data.budget

In [9]:
# Переводим столбец 'release_date' из строкового формата во временной.
data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
display(data.sort_values('budget', ascending = False).iloc[0])

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                          2011-05-11 00:00:00
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
Name: 723, dtype: object

ВАРИАНТ 2

In [12]:
# можно добавлять разные варианты решения
display(data[data['budget'] == data['budget'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [14]:
display(data[data['runtime'] == data['runtime'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [16]:
display(data[data.runtime == data.runtime.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [17]:
display(round(data.runtime.mean()))

110

In [18]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [19]:
display(data.describe().loc['50%', 'runtime'])

107.0

In [20]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data[data['profit'] == data['profit'].max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [22]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [23]:
display(data[data['profit'] == data['profit'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [24]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
display(data.query('revenue > budget').budget.count())

1478

In [26]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
display(data[data.revenue == data[data.release_year == 2008].revenue.max()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [28]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
display(data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [30]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создаём список genres_count всех жанров, приведённых в столбце data.genres.
genres_count = data.genres.apply(lambda s: str(s).split('|')).values.sum()

# Передаём список genres_count в  Counter() и оставляем наиболее часто повторяющийся в genres_count жанр.
Counter(genres_count).most_common(1)

[('Drama', 782)]

In [32]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [68]:
# Фильтруем из data все фильмы, принесшие прибыль, и создаём из полученной выборки по столбцу data.genres
# список profit_genres_count всех жанров.
profit_genres_count = data[data.profit > 0].genres.apply(lambda s: str(s).split('|')).values.sum()

# Передаём список profit_genres_count в  Counter() и оставляем наиболее часто повторяющийся в genres_count жанр.
Counter(profit_genres_count).most_common(1)

[('Drama', 560)]

In [34]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [84]:
# Создаём список режиссёров перечисленных в вопросе.
directors = ['Steven Spielberg', 'Christopher Nolan', 'David Yates', 'James Cameron', 'Peter Jackson']
# Создаём пустой словарь, в который будем вносить суммарные кассовые сборы фильмов режиссёров.
revenue_directors = dict()
# С помощью цикла заполняем словарь revenue_directors,  где ключём является имя режиссёра, а сумма кассовых сборов - значением.
for name in directors:
    revenue_directors[name] = data[data['director'].str.contains(name)]['revenue'].sum()

# Из словаря revenue_directors создаём Series Most_revenue_directors и сортируем его по убывнию. 
# Нулевая строка Most_revenue_directors и есть нужный нам режиссёр.
Most_revenue_directors = pd.Series(revenue_directors).sort_values(ascending = False)
display(Most_revenue_directors.head(1))

Peter Jackson    6490593685
dtype: int64

In [36]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [83]:
# Создаём список режиссёров перечисленных в вопросе.
directors = ['Ridley Scott', 'Guy Ritchie', 'Robert Rodriguez', 'Quentin Tarantino', 'Tony Scott']
# Создаём пустой словарь, в который внесём число фильмов режиссёров снятых в жанре "Action".
action_directors = dict()
# С помощью цикла заполняем словарь action_directors,  где ключём является имя режиссёра, а число фильмов - значением.
for name in directors:
    # Фильтруем data и оставляем только те строки, в которых режиссёром выступа режиссёр из списка directors.
    temp = data[data['director'].str.contains(name)]
    action_directors[name] = temp[temp['genres'].str.contains('Action')].genres.count()

# Из словаря создаём Series Most_action_director и сортируем его по убывнию.
# Нулевая строка Most_action_directors и есть нужный нам режиссёр.
Most_action_director = pd.Series(action_directors).sort_values(ascending = False)
display(Most_action_director.head(1))

Robert Rodriguez    9
dtype: int64

In [38]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
# Из data фильтруем фильмы, снятые в 2012 году.
films_2012 = data.query("release_year == 2012")
# Создаём множество из имён актёров, снимавшихся в фильмах в 2012г.
actors_2012 = set(films_2012['cast'].apply(lambda s: str(s).split('|')).values.sum())
# Создаём пустой словарь, в который внесём суммарные кассовые сборы фильмов актёров в 2012 году.
revenue_actor_films = dict()
# С помощью цикла заполняем словарь  revenue_actor_films,  где ключём является имя актёра, а сумма кассовых сборов - значением.
for name in actors_2012:
    revenue_actor_films[name] = films_2012[films_2012.cast.str.contains(name)].revenue.sum()

# Из словаря создаём Series most_revenue_actor и сортируем его по убывнию.
# Нулевая строка most_revenue_actor и есть нужный нам актсёр.    
most_revenue_actor = pd.Series(revenue_actor_films).sort_values(ascending = False)
display(most_revenue_actor.head(1))

Chris Hemsworth    2027450773
dtype: int64

In [40]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
print(pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0])

Matt Damon

In [42]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
print(pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).value_counts().index[0])

Action

In [44]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
display(data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit').iloc[0])

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                          2002-07-19 00:00:00
vote_average                                                          6.0
release_year                                                         2002
profit                                                          -64831034
Name: 925, dtype: object

In [46]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
display(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0])

2015

In [48]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
display(data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0])

2014

In [50]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
films_on_months = data.release_date.dt.month.value_counts()
display(films_on_months.index[0])

9

In [52]:
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
print(films_on_months[6] + films_on_months[7] + films_on_months[8])

450

In [54]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
display(pd.Series(data[(data.release_date.dt.month == 12) | (data.release_date.dt.month == 1) | (data.release_date.dt.month == 2)].director.str.split('|').sum()).value_counts().index[0])

'Peter Jackson'

In [56]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
# Из столбца data.production_companies создаём множество из названий студий 
names_companies = set(data.production_companies.str.split('|').sum())
# Создаём пустой словарь, в который внесём среднюю длину названий фильмов по количеству символов.
lenght_titles = dict()
# С помощью цикла заполняем словарь  lenght_titles,  где ключём является название студии,
# а среднее количество символов в названии - значением.
for name in names_companies:
    lenght_titles[name] = pd.Series(data[data.production_companies.str.contains(name)].original_title.str.len()).mean()

# Из словаря создаём Series Most_lenght_title и сортируем его по убывнию.
# Индекс нулевой строки Most_lenght_title и есть нужная нам студия.     
Most_lenght_title = pd.Series(lenght_titles).sort_values(ascending = False).index[0]
display(Most_lenght_title)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

'Four By Two Productions'

In [58]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
# Создаём пустой словарь, в который внесём среднюю длину описаний фильмов по количеству слов.
lenght_words = dict()
# С помощью цикла заполняем словарь  lenght_words,  где ключём является название студии,
# а среднее количество слов в описании - значением.
# Множество names_companies взято из ответа на вопрос 24.
for name in names_companies:
    lenght_words[name] = pd.Series(data[data.production_companies.str.contains(name)].overview.str.split(' ').str.len()).mean()

# Из словаря создаём Series Most_lenght_words и сортируем его по убывнию.
# Индекс нулевой строки Most_lenght_words и есть нужная нам студия.    
Most_lenght_words = pd.Series(lenght_words).sort_values(ascending = False).index[0]
display(Most_lenght_words)

'Midnight Picture Show'

In [60]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
display(data[data['vote_average'] > data.quantile(0.99, numeric_only = True)['vote_average']].sort_values('vote_average', ascending = False)['original_title'])

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [62]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
Counter(data.cast.str.split('|').apply(lambda s: list(combinations(sorted(s), 2))).values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [64]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27